<% flash.each do |type, msg| %>
  <%= msg %>
<% end %>
<h1>showing articles details </h1>
<p><strong>id: </strong> <%= @entry_num  %> </p>
<p><strong>title: </strong>  <%= @articles.title  %> </p>
<p><strong>desription: </strong>  <%= @articles.description  %> </p>
