<footer class="py-4 mt-4 bg-dark text-white footer fixed-bottom">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Pank", "https://github.com/pankaj485", class: "text-white" %></small>
  </div>
</footer>
